.upcoming-events {
  width: 94%;
  height: fit-content;
  border-radius: 12px;
  padding: 16px;
  /* box-shadow: var(--box-shadow); */
  border: 1px solid rgba(0, 0, 0, 0.096);
  margin-top: 16px;
  /* background-color: var(--background-secondary); */
  background-color: whitesmoke;
}

.upcoming-events-header-group {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
